$blue: #009edd;
$green: #24e0bc;
$purple: #b2b2e4;
$light-blue: #e6f3ff;
$black: #0c0c0c;
$white: #ffffff;
$gray-light: #e2e2e2;
$light-gray: #f5f7fb;
$header-gray: #222222;
$text-gray: #4b4b4b;
$purple: #8b2aff;
$purple-light: #a455ff;
$purple-dark: #6f00f8;
$gray-dark: #232d36;
